# ----------------------
# Flask
# ----------------------
flask
# tensorflow
requests_oauthlib
textblob
textblob.classifiers
ntlk


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn


