# ----------------------
# Flask
# ----------------------
flask
# tensorflow
requests_oauthlib
textblob


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn

